body {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 14px;
	line-height: 1.5;
	color:  black;
}

.form-group {
	margin-bottom: 15px;
	width: 500px;
}

.containerlog {
	padding-right: 15px;
	padding-left: 15px;
	padding-top: 15px;
	position: absolute;
	left: 30.356%;
}

.form-control {
	height: 34px;
	font-size: 14px;
	line-height: 1.5;
	color: #555;
	background-color: #fff;
}

.form_group_label {
	display: inline-block;
	max-width: 100%;
	margin-bottom: 5px;
	font-weight: 700;
}

input[type=email], input[type=password], input[type=text], input[type=tel], input[type=date]{
	width : 100%;
	padding: 10px;
	margin:0 auto;
	display: inline-block;
	border: 1px solid black;
	border-radius: 4px;
	box-sizing: border-box;
}

.checkbox{
	position: relative;
	display: block;
	margin-top: 10px;
	margin-bottom: 10px;
 }	 

.button{
	color: #000;
	background-color: #fff;
	display: inline-block;
	padding: 6px 12px;
	margin: 0 215px;
	font-size: 14px;
   	font-weight: 400;
	line-height: 1.5;
	border: 1px solid black;
	border-radius: 4px;
}


#data {
	width: 35%;
	padding-left: 10px;
	margin-left: 12px;
}

#cap {
	width: 20%;
	display: inline;
	margin-left:12px;
}

#indirizzo {
	width: 50%;
	display: inline;
	margin-left:15px;
	margin-right:15px;
}
